/* Загальні стилі для сторінки */
body {
    font-family:"Poetsen One", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
  }

  nav {
    flex-grow: 1;
    text-align: right;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .menu li {
    position: relative;
  }

  .menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
  }

  .menu a:hover {
    background-color: #ddd;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content li {
    width: 200px;
  }

  .dropdown-content a {
    padding: 10px 15px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  main {
    padding: 20px;
  }

  .owl-carousel .item {
    background: #4DC7A0;
    padding: 30px 0;
    margin: 10px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
  }

  .post {
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
  }

  .footer-columns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .footer-column {
    width: 30%;
  }

  footer img {
    margin-bottom: 10px;
  }

  .footer-nav {
    border-radius: 7%;
    color: white;
    text-align: left;
  }
  .footer-nav a {
    color: seashell;
    text-decoration: none;
  }
  .footer-nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 5px;
  }